.main{
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
  font-size: 14px;
  color: rgb(7, 10, 91);
}
.body{
  width: 100%;
  padding: 5px;
}
.body ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.card{
  padding: 5px;

  margin-top: 10px;
  box-shadow: 0 0 5px 1px rgba(199, 197, 197, 0.836);
  border-radius: 10px;
}